* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.5rem 0.9rem !important;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}

.green {
  color: #fff;
  background-color: #4caf55;
}

.green:hover {
  transition: all 0.2s ease-in;
  background-color: #64a644;
}

.orange {
  color: #000;
  background-color: orange;
  margin: 0.5rem 0;
}

.red {
  color: #fff;
  background-color: red;
  margin: 0.5rem 0;
  border: none;
}

.btn:hover {
  opacity: 0.85;
}

.post-buttons {
  display: flex;
  justify-content: end;
}

.post-buttons form {
  margin: 0 0.4rem;
}

.landng-section {
  min-height: 100vh;
  background: url("../images/alley-89197_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.landng-section .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  color: #fff;
  font-size: 2rem;
}

.top-nav {
  text-align: end;
  padding: 1rem 1.5rem;
  background-color: black;
  font-size: 1.2rem;
}

.top-nav ul {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-nav ul li {
  margin: 0.7rem 0.8rem;
}

.top-nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.top-nav ul li a:hover {
  transition: color 0.2s ease-in;
  color: #8d8d8d;
}

.top-nav ul li a.login {
  border: 1px solid #fff;
  padding: 5px 15px;
}

/* Style Form Login/Register */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  font-size: 1.2rem;
}

.form-container form .invalidFeedback {
  color: red;
  font-style: italic;
}

.form-container form h2 {
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0.7rem 0;
  letter-spacing: 2px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.form-container form .input-group *,
.form-container .options,
.form-container .submit {
  margin: 0.25rem 0;
}

.form-container input,
.form-container .submit,
.form-container select {
  height: 32px;
  border: 1px solid #ddd;
  padding: 7px;
}

.form-container .submit {
  cursor: pointer;
  color: #fff;
  background-color: black;
  font-size: 1.1rem;
  padding: 8px 0;
  height: auto;
}

.form-container .input-group {
  display: flex;
  flex-direction: column;
}

.form-container label,
button.submit,
.form-container h2 {
  text-transform: capitalize;
}

.form-container .options a {
  cursor: pointer;
  text-decoration: none;
}
.form-container .options a:hover {
  text-decoration: underline;
}

/* POSTS Style */
.posts-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.posts-container .wrapper {
  background-color: #f2f2f2;
  padding: 4rem 8rem;
  flex-grow: 1;
}

.posts-container .wrapper .post {
  padding: 1.5rem 0;
}

.posts-container .wrapper .post > * {
  padding: 0.6rem 0;
}

.posts-container .wrapper .post:not(:last-child) {
  border-bottom: 1px solid #b4b4b4;
}

.posts-container .wrapper h2.post-title {
  font-size: 3rem;
}

.posts-container .wrapper p.post-date {
  font-size: 1.2rem;
  font-style: italic;
  color: #828282;
}

.posts-container .wrapper .post-desc {
  font-size: 1.4rem;
}

/* CREATE POST */
.post-form {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2.5rem 6rem;
}

.post-form textarea {
  width: 550px;
  padding: 0.5rem 0.7rem;
}
