* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.landng-section {
  height: 100%;
  background: url("../images/alley-89197_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.landng-section .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.top-nav {
  text-align: end;
  padding: 1rem 1.5rem;
  background-color: black;
  font-size: 1.2rem;
}

.top-nav ul {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-nav ul li {
  margin: 0.7rem 0.8rem;
}

.top-nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.top-nav ul li a:hover {
  transition: color 0.2s ease-in;
  color: #8d8d8d;
}

.top-nav ul li a.login {
  border: 1px solid #fff;
  padding: 5px 15px;
}

/* Style Form Login/Register */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  font-size: 1.2rem;
}

.form-container form h2 {
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0.7rem 0;
  letter-spacing: 2px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 340px;
}

.form-container form .input-group *,
.form-container .options,
.form-container .submit {
  margin: 0.4rem 0;
}

.form-container input,
.form-container .submit {
  height: 32px;
  border: 1px solid #ddd;
  padding: 7px;
}

.form-container .submit {
  cursor: pointer;
  color: #fff;
  background-color: black;
  font-size: 1.1rem;
  padding: 8px 0;
  height: auto;
}

.form-container .input-group {
  display: flex;
  flex-direction: column;
}

.form-container label,
button.submit,
.form-container h2 {
  text-transform: capitalize;
}

.form-container .options a {
  cursor: pointer;
  text-decoration: none;
}
.form-container .options a:hover {
  text-decoration: underline;
}
